script( type='application/ld+json' ).
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "James Cordery Tiler",
    "alternateName": "JC Tiler",
    "url": "https://jctiler.nz",
    "logo": "https://jctiler.nz/#{require('../images/logo.svg')}",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+64-021-201-3102",
      "contactType": "customer service"
    }],
    "sameAs": [
      "https://www.facebook.com/James-Cordery-Tiler-1749786328635166",
      "https://plus.google.com/110777754469745491464",
      "https://builderscrack.co.nz/tradies/n3ti1uk/james-cordery-tiler"
    ]
  }
