doctype html
html( lang='en' )
  head
    meta( name='viewport' content='width=device-width, initial-scale=1' )

    title JC Tiler

    link( href='https://fonts.googleapis.com/css?family=Carter+One|Open+Sans' rel='stylesheet' )
    link( rel='shortcut icon' type='image/png' href=require('./images/favicon.png') )

    if htmlWebpackPlugin.options.isDevServer
      script( src='/webpack-dev-server.js' )

  body
    header
      .container
        .row
          .col-xs-12
            h1.logo.pull-left JC Tiler
            a.phone-link( href='tel:+64212013102' )
              h2.contact.pull-right.text-center
                span.phone #[span.hidden-xs Phone] #[span.phone-number 021 201 3102]
                span.quote for free measure and quote

    main
      .container
        section.row
          .blurb
            .blurb-content.col-md-8.col-xs-12
              p James Cordery &mdash; Dunedin based tiler specialising in kitchens, bathrooms, and waterproofing.
              p With over 30 years of floor and wall tiling experience, I deliver high quality workmanship and friendly, professional service.
              p Mapei approved waterproofer.

      .container
        aside.row
          .contact.clearfix
            .col-md-4.col-xs-12
              a.contact-facebook( href='https://www.facebook.com/James-Cordery-Tiler-1749786328635166' ) JC Tiler on #[br]Facebook
            .col-md-4.col-xs-12
              a.contact-builderscrack( href= 'https://builderscrack.co.nz/tradies/n3ti1uk/james-cordery-tiler' ) Customer reviews on #[br]builderscrack.co.nz
            .col-md-4.col-xs-12
              a.contact-email( href='mailto:jamescordery14@gmail.com' ) Contact by email #[br]jamescordery14@gmail.com

      .container
        section.row
          .gallery.clearfix
            .gallery-image.col-md-4.col-xs-6
              img( alt=1 )
            .gallery-image.col-md-4.col-xs-6
              img( alt=2 )
            .gallery-image.col-md-4.col-xs-6
              img( alt=4 )
            .gallery-image.col-md-8.col-xs-6
              img( alt=3 )

    footer
      .container
        small &copy; All rights reserved. James Cordery 2016.
