$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/'

// Core variables and mixins
@import 'variables'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins'

// Reset and dependencies
@import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/print'

// Core CSS
@import '~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/type'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/code'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/grid'

// Utility classes
@import '~bootstrap-sass/assets/stylesheets/bootstrap/utilities'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities'

=background-retina($file-1x, $file-2x, $size)
  background:
    image: url($file-1x)
    size: #{$size}

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
    background:
      image: url($file-2x)

$brandBlue: #50c9ea

$spacing-xs: $grid-gutter-width / 2
$header-height-sm: 800px
$header-height-md: $header-height-sm
$header-height-lg: 1000px

$max-page-width: 1280px

body
  background: #ccc
  color: white
  min-width: 320px

  @media (min-width: $screen-lg-min)
    background: #666

header
  height: 460px
  background:
    position: center top
    repeat: no-repeat

  +background-retina('./images/header-xs-400.jpg', './images/header-xs-400@2x.jpg', 'cover, auto')

  .container
    padding-top: $spacing-xs

  .logo
    @extend .text-hide
    width: 90px
    height: 90px
    margin: 0
    background:
      image: url(./images/logo.svg)

  .phone-link
    color: inherit
    text-decoration: none

  .contact
    margin: 0
    position: relative
    top: 6px

    & > *
      display: block

    .phone
      font-size: 27px

    .quote
      font-size: 12px

  @media (min-width: 401px)
    +background-retina('./images/header-xs-767.jpg', './images/header-xs-767@2x.jpg', 'cover, auto')

  @media (min-width: $screen-sm-min)
    height: $header-height-sm
    +background-retina('./images/header-sm.jpg', './images/header-sm@2x.jpg', 'cover, auto')

    .row
      padding: 15px

    .logo
      width: 164px
      height: 164px

    .contact
      background: $brandBlue
      color: #000
      padding: 30px
      top: 18px

      .phone
        font-size: 42px
        line-height: 1.2

      .quote
        font-size: 30px
        line-height: 1.2

  @media (min-width: $screen-md-min)
    font-size: 20px
    +background-retina('./images/header-md.jpg', './images/header-md@2x.jpg', 'cover, auto')

  @media (min-width: $screen-lg-min)
    height: $header-height-lg
    max-width: $max-page-width
    margin: 0 auto
    +background-retina('./images/header-lg.jpg', './images/header-lg@2x.jpg', 'cover, auto')

main
  position: relative

  .blurb
    position: absolute
    bottom: 100%

  .blurb-content
    padding-top: 10px
    border-left: 5px solid $brandBlue
    margin: 0 0 $spacing-xs $spacing-xs
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7)

  .contact
    background: #ccc
    padding-top: $spacing-xs

    a
      display: block
      color: white
      text-decoration: none
      background: $brandBlue
      height: 55px
      padding: 6px 10px
      margin-bottom: 12px
      font:
        family: $headings-font-family
        weight: normal
        size: 16px
      line-height: 22px

      &.contact-facebook
        & > *
          display: block
          float: left

        img
          margin:
            top: 4px
            right: 10px



  .gallery
    background: #ccc

    .gallery-item
      margin-bottom: $spacing-xs

    picture, picture > *
      display: block
      max-width: 100%

  @media (max-width: $screen-xs-max)

    .blurb
      padding-right: $spacing-xs

    .blurb-content
      max-width: 500px

    .gallery

      .gallery-item:nth-child(odd)
        padding-right: 9px

      .gallery-item:nth-child(even)
        padding-left: 9px

  @media (min-width: $screen-sm-min)
    $mainOverlap: $header-height-sm - 250px
    $blurbHeight: 230px

    margin-top: -$mainOverlap
    min-height: $mainOverlap

    .blurb
      position: static
      padding:
        left: 15px

    .blurb-content
      padding:
        top: 50px
        left: 30px
        bottom: 30px
      position: relative
      margin-bottom: 0
      height: $blurbHeight

      &::before
        content: ''
        position: absolute
        display: block
        top: 19px
        left: -24px
        border:
          bottom: 5px solid $brandBlue
          right: 5px solid $brandBlue
        width: $blurbHeight
        height: 0

    .contact
      background: none
      padding: 0 15px
      margin-top: 100px
      height: $mainOverlap - $blurbHeight - 100px

    $galleryItemHeight: 206px

    .gallery
      padding: 30px 15px

      .gallery-item
        margin-bottom: 30px

        &:nth-child(3)
          margin-bottom: -400px

  @media (min-width: $screen-md-min)
    $mainOverlap: $header-height-md - 250px
    $blurbHeight: 260px
    $contactHeight: 195px

    font-size: 20px
    margin-top: -$mainOverlap
    min-height: $mainOverlap

    .blurb-content
      height: $blurbHeight

      &::before
        width: $blurbHeight

    .contact
      margin:
        top: $mainOverlap - $blurbHeight - $contactHeight - 30px
        bottom: 30px
      height: $contactHeight

      a
        margin-bottom: 0
        background: none
        border: 3px solid $brandBlue
        height: $contactHeight
        font-size: 18px
        line-height: 26px
        padding: 115px 15px 0
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7)

        &:hover
          background: $brandBlue
          text-shadow: none

        &:active
          background: transparent

        &.contact-facebook

          img
            width: 70px
            height: 70px
            margin:
              top: -10px
              right: 15px
    .gallery

      .gallery-item
        margin-bottom: 36px

  @media (min-width: $screen-lg-min)
    $mainOverlap: $header-height-lg - 300px
    $blurbHeight: 260px
    $contactHeight: 195px

    margin-top: -$mainOverlap
    min-height: $mainOverlap
    max-width: $max-page-width
    margin:
      left: auto
      right: auto

    .contact
      margin:
        top: $mainOverlap - $blurbHeight - $contactHeight - 45px
        bottom: 45px

      a
        padding:
          left: 30px

    .gallery-wrapper
      background: #ccc

footer
  background: #ccc
  color: #4d4d4d
  text-align: center
  padding:
    top: $spacing-xs
    bottom: $spacing-xs

  .row
    padding: 0 15px

  @media (min-width: $screen-sm-min)
    text-align: left
    max-width: $max-page-width
    margin: 0 auto


$pswp__assets-path: '~photoswipe/src/css/default-skin/'
@import '~photoswipe/src/css/main'
@import '~photoswipe/src/css/default-skin/default-skin'
